<div *ngIf="loaderService.isLoading$ | async" class="loader-effect">
  <div class="spinner-border text-warning" role="status">
    <span class="sr-only"></span>
  </div>
</div>
<div class="main-container">
  <div class="main-wrapper">
    <aip-image-layout-pics
      [images]="imageList"
      (editedItem)="editImageHandler($event)"
      (deletedItem)="deleteImageHandler($event)"
    ></aip-image-layout-pics>
  </div>

  <div class="form-add">
    <button class="btn btn-primary" (click)="setShowForm()">add places</button>

    <aip-image-layout-form
      *ngIf="showForm"
      (itemToSubmit)="addImageHandler($event)"
    ></aip-image-layout-form>
  </div>
</div>
