p {
  color: black;
}

.input-container,
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  border-radius: 15px;
  background-color: #00000044;
  gap: 1rem;
  padding: 2rem;
}
